.product__photo__slider{
background-color: #F7F7F7;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.product__photo__img__containe{
display: block;
}


.product__photo__img{
width: 100%;
height: auto;
}


.product__parameter__container{
padding: 65px 0 65px 0;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid #EAEAEA;
background-color: white;
position: relative;
margin-top: -64px;
z-index: 2;
}

.product__parameter_titile{
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;  

}

.product__parameter_titile_2{
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #4D4D4D;
padding-top: 28px;
}

.product__parameter_text{
padding-bottom: 41px;
padding-top: 48px;
text-align: center;
border-bottom: 1px solid;
flex-direction: column;
}

.products__parameter_price{
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #F16D7F;   
}

.product__parameter__choice{
display: flex;
gap: 23px;
padding: 65px 0 49px 0;
}   


.product__parameter__choice__link{
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
text-decoration: none;
fill: #6F6E6E;   
}

.product__parameter__choice__link:hover {
opacity: 0.6;
  }


  .product__parameter__add__btn{
  padding: 14px 56px 14px 23px;
  background-color: white;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;   
  }