*{
margin: 0; 
padding: 0;
box-sizing: border-box;
}

.container {
max-width: 1600px;
width: 100%;
margin: 0 auto;
}

/*HEADER*/

.header {
background-color: #222222;
padding: 18px 0 19px 0;
display: flex;
align-items: center;
}


.header-logo{
display: block;
/*margin: 0 41px 0 231px;*/  
margin-left: 231px;
margin-right: 41px;
}

.main-menu {
margin: 0 auto 0 20px;
}


.header-list {
display: flex;
align-items: center;
list-style-type: none;
flex-wrap: wrap;
}


.header-item{
display: flex;
gap: 25px;
margin-left: 33px;
}

.header-item-rigth{
margin-left: 859px;
}


/*HEADER search form*/
.search-form{
position: relative;
width: 26px;
height: 26px;
}


/*BANNER*/
.banner{
background-color: #F1E4E6;
margin-bottom: 65px;
}

.banner-container{
max-width: 1600px; ;
height: 764px;
display: flex;
justify-content: flex-end;
background: url(../img/man-model.png) no-repeat;
background-position: -207px bottom;
align-items: center;    
}

.banner-text{
max-width: 400px;
width: 50%;
border-left: 12px solid #F16D7F;
padding: 0 0 0 16px;
}

h1{
font-size: 32px;
font-weight: 700px;
line-height: 38px;
}
.banner-text-color{
color: #F16D7F;
}


/*CATEGORY*/

.category__container{
display: flex;
flex-wrap: wrap;
gap: 30px;
margin-bottom: 96px;
}

.category__card:not(:last-child) {
    width: 31%;
    height: 260px;
  }
  
  .category__card:last-child {
    width: 100%;
    height: 180px;
  }
  
  .category__card span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
  }
  
  .category__card h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-align: center;
    padding-left: 105px;
    padding-top: 105px;
  }
  
  .category__card_woman {
    background-image: url("../img/for_woman.jpg");
    background-size: cover;
  }
  
  .category__card_men {
    background-image: url("../img/for_man.jpg");
    background-size: cover;
  }
  
  .category__card_kids {
    background-image: url("../img/for_kids.jpg");
    background-size: cover;
  }
  
  .category__card_accesories {
    background-image: url("../img/Accesories.jpg");
    background-size: cover;
  }


  /*PRODUCT*/
  .products{
    margin-bottom: 95px;
  }

.products__container{
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif; 
}

.products__container h2{
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
margin: 0;
text-align: center;
}
.products__text{
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
text-align: center;
margin: 0 auto;  
}

.products__cards{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 30px;
margin: 48px 0 48px 0; 
}

.products__cards__unit{
position: relative;
transition: 0.5s;
width: 360px;
box-sizing: border-box;
background-color: #F8F8F8;
padding: 0 0 20px 0;
display: flex;
flex-direction: column;
}

.products__cards__unit__hover {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 420px;
background-color: rgba(58, 56, 56, 0.83);
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transition: 0.5s;
}

.products__cards__unit__hover:hover {
opacity: 1;
}

.products__cards__unit__hover__add__btn {
padding: 11px 16px 8px 13px;
background-color: transparent;
border: 1px solid white;
color: white;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
gap: 11px;
cursor: pointer;
}

.products__button__block {
display: flex;
justify-content: center;
align-items: center;
}

.products__button {
  padding: 14px 39px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  background-color: white;
  border: 1px solid #F16D7F;
}

.products__button:hover {
  color: white;
  background-color: #F16D7F;
  cursor: pointer;
}

.products__cards__unit__name__link{
  text-decoration: none;
}

.products__cards__unit__name{
font-size: 13px;
line-height: 16px;
color: #000000;
margin: 24px 0 12px 0;
padding-left: 16px;
}

.products__cards__unit__specification{
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
padding: 0 29px 0 16px;
flex: 1;
margin-top: 0;
}

.products__cards__unit__price{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-left: 16px;  
}




  /*FOOTER/ SERVICES*/
  .footer .services{
  background-color: #222224;
  display: block;
  }


  .services__container{
  padding: 93px 0 94px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 30px;
  }

  .services__block{
    width: 30%;
  }

  .services__img{
    display: block;
    margin: 0 auto; 
  }

  .services__title{
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;  
  }

  .services__text{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB; 
  }


  .subscribe{
    background-image: url(../img/background_subscribe.jpg);
    background-size: cover; 
  }

  .subscribe__container{
  padding: 86px 0 156px 0;
  display: flex;
  justify-content: space-between; 
  }

  .subscribe__photo{
  display: block;
  margin: 0 auto;
  }


  .subscribe__text{
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px; 
  }


  .subscribe__form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  }


  .subscribe__title{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;  
  }

  .subscribe__button{
  display: flex;
  align-items: center;  
  }

  .subscribe__input{
    background: #E1E1E1;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    border: none;  
  }

  .subscribe__btn{
    padding: 20px;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #F16D7F;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}  
.footer__container{
  background-color: #222224;
  padding: 24px 0 24px 0;
} 

.footer__information{
display: flex;
justify-content: space-between; 
}

.footer__text{
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #FBFBFB;

}

.footer__right{
display: flex;
justify-content: center;
align-items: center;
gap: 8px; 
}